{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
  </head>
  <body>
    <h1>Calculator</h1>
    <label for="num1">Number 1:</label>
    <input type="text" id="num1"><br><br>
    <label for="num2">Number 2:</label>
    <input type="text" id="num2"><br><br>
    <button id="add-btn">Add</button>
    <button id="subtract-btn">Subtract</button>
    <button id="multiply-btn">Multiply</button>
    <button id="divide-btn">Divide</button><br><br>
    <label for="result">Result:</label>
    <input type="text" id="result" disabled>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'index.js' %}"></script>
  </body>
</html>
